# The executable we generate
cici
# The lex tokens we generate
a.lex
# The AST we generate
a.ast
# The IR we generate
a.pir
# The assembly file we generate
a.s
# The program that we make from the assembly
a.out
# the program we often use for testing stuff
test.c

# editor stuff
.vscode/